/* src/pages/Profile.css */

.card {
    border: none;
    border-radius: 1.5rem;
  }
  
  img.rounded-img {
    object-fit: cover;
    max-width: 100%;
    width: 240px;
    height: 240px;
  }
  
  @media (max-width: 768px) {
    .card {
      padding: 1rem;
    }
  
    .btn {
      width: 100%;
      margin-bottom: 0.5rem;
    }
  
    .text-end {
      text-align: center !important;
    }
  }
  