@import url('https://fonts.googleapis.com/css2?family=Itim&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: "Itim", cursive;
}

/* Nút chat cố định */
.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #EE4D2D;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  /* Cửa sổ chat */
  .chat-window {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  /* Header */
  .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #EE4D2D;
    color: white;
    padding: 10px;
    font-weight: bold;
  }
  
  /* Body */
  .chat-body {
    padding: 10px;
    height: 200px;
    overflow-y: auto;
  }
  
  /* Footer */
  .chat-footer {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
  }
  
  .chat-footer input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .chat-footer button {
    background: #EE4D2D;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
  }
  